@import 'vars';

.home {
    // background: url(url_tu_imagen);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }
  
  .title {
    color: var(--wine);
    font-size: 4rem;
    text-align: center;
    padding: 18%;
  
    a {
        color: inherit;
        text-decoration: underline;
        cursor: pointer;
    }
  }
